@media {
    .box_up {
        display: block;
        padding: 10px;
        text-align: left;
    }

    .box_down {
        display: block;
        padding: 0;
        text-align: center;
    }

    .box_side {
        display: none;
    }
}

body {
    background-color: #131313; /*#1bd963*/
    color: #ffffff; /*#1bd963*/
    font-family: 'monospace', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

h1 {
    font-size: 14px;
    margin: 0;
    text-transform: lowercase;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 12px;
    margin: 0;
    text-transform: lowercase;
}

h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: lowercase;
}

p {
    font-size: 12px;
    margin: 0;
    text-align: left;
    padding: 0 10px;
    text-transform: lowercase;
}

.box {
    display: block;
    width: 240px;
}

.projects {
    align-items: center;
    text-align: left;
    display: grid;
    grid-template-columns: 140px 40px;
    padding: 10px;
    grid-gap: 5px;
}

.right_aligned {
    text-align: right;
}

.center_aligned {
    text-align: center;
}

.row-border{
    border-top: 0px solid #ffffff;
    grid-column: 1 / 5;
}

::selection {
    color: #ffffff;
    background: #000000;
}

.piece .alternative {
    display: none;
}

.piece:hover .default {
    display: none;
}

.piece:hover .alternative {
    display: grid;
}

a {
    color: #ffffff;
    text-decoration: none;
}