@media (min-width: 700px) {
    .box_up,
    .box_down {
        display: none;
    }

    .box_side {
        display: block;
        transform: rotate(-45deg);
    }
}

@media (max-width: 700px) {
    .box_up {
        display: block;
        padding: 10px;
        text-align: left;
    }

    .box_down {
        display: block;
        padding: 0;
        text-align: center;
    }

    .box_side {
        display: none;
    }
}

body {
    background-color: #1bd963; /*#1bd963*/
    color: #161616; /*#1bd963*/
    font-family: 'monospace', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

h1 {
    font-size: 30px;
    margin: 0;
    text-transform: lowercase;
}

h2 {
    font-size: 14px;
    margin: 0;
    text-transform: lowercase;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: lowercase;
}

p {
    font-size: 14px;
    margin: 0;
}

.box {
    display: block;
    width: 230px;
}

.projects {
    align-items: center;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 5px;
}

.right_aligned {
    text-align: right;
}

.row-border{
    border-top: 1px solid #161616;
    grid-column: 1 / 5;
}

::selection {
    color: #d0ff00;
    background: #f50f9d;
}

.piece .alternative {
    display: none;
}

.piece:hover .default {
    display: none;
}

.piece:hover .alternative {
    display: grid;
}

a {
    color: #161616;
    text-decoration: none;
}