@font-face {
    font-family: 'tt-firs-neue';
    src: url('TT-Firs-Neue-Trial-Regular.ttf');
}

@font-face {
    font-family: 'GBBold';
    src: url('GowunBatang-Bold.ttf');
}

@font-face {
    font-family: 'GBReg';
    src: url('GowunBatang-Regular.ttf');
}

@font-face {
    font-family: 'Figtree';
    src: url('Figtree.ttf');
}

@font-face {
    font-family: 'tt-firs-neue-med';
    src: url('TT-Firs-Neue-Trial-DemiBold.ttf');
}

@font-face {
    font-family: 'itc-garamond-std';
    src: url('itc-garamond-std-light-narrow.otf');
}

@font-face {
    font-family: 'itc-garamond-book';
    src: url('itc-garamond-std-book-condensed.otf');
}

.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

::selection {
    color: #000000;
    background: rgba(112, 112, 112, 0);
    text-decoration: underline;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #ff6200;
  border-radius: 50%;
  display: inline-block;
}

span { 
    font-family: "Figtree"; 
    background-color: #d4d4d4;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}


h1 {
    color: rgb(0, 0, 0);
    font-family: "Figtree";
    font-weight: 600;
    font-size: 30px;
    display: inline !important;
}

h2 {
    color: rgb(26, 26, 26);
    font-family: "Figtree";
    font-weight: 1;
    font-size: 30px;
    display: inline !important;
}

h3 {
    color: rgb(26, 26, 26);
    font-family: "Figtree";
    line-height: 150%;
    font-weight: 500;
    font-size: 16px;
    margin-top:-0px;
}

.section{
    max-width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    color: rgb(26, 26, 26);
    font-family: "tt-firs-neue";
    font-weight: 1;
    font-size: 15px;
    margin-top:20px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue, Arial, sans-serif;
    background-color: #f6f4ef;
}

.content {
    max-width: 50%;
    text-align: left;
    line-height: 1;
    color: #2e2e2e;
}

.section{
    max-width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content a {
    color: #000000;
    text-decoration: none;
}

.content span:hover {
    background-color: rgb(198, 238, 22);
    font-family: "Figtree"; 
    color: #000000;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

.content b {
    font-weight: bold;
}

