@font-face {
    font-family: 'tt-firs-neue';
    src: url('TT-Firs-Neue-Trial-Regular.ttf');
}

@font-face {
    font-family: 'tt-firs-neue-med';
    src: url('TT-Firs-Neue-Trial-DemiBold.ttf');
}

@font-face {
    font-family: 'itc-garamond-std';
    src: url('itc-garamond-std-light-narrow.otf');
}

@font-face {
    font-family: 'itc-garamond-book';
    src: url('itc-garamond-std-book-condensed.otf');
}

::selection {
    color: #ff6200;
    background: rgba(246, 92, 40, 0);
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #ff6200;
  border-radius: 50%;
  display: inline-block;
}

span { 
    font-family: "tt-firs-neue-med"; 
}

h1 {
    color: rgb(26, 26, 26);
    font-family: "itc-garamond-book";
    font-size: 50px;
    display: inline !important;
}

h2 {
    color: rgb(26, 26, 26);
    font-family: "itc-garamond-std";
    font-size: 50px;
    display: inline !important;
}

h3 {
    color: rgb(26, 26, 26);
    font-family: "tt-firs-neue";
    font-size: 15px;
    margin-top:-0px;
}

.section{
    max-width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    color: rgb(26, 26, 26);
    font-family: "tt-firs-neue";
    font-size: 15px;
    margin-top:20px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue, Arial, sans-serif;
    background-color: #f6f4ef;
}

.content {
    max-width: 30%;
    text-align: left;
    line-height: 1;
    color: #2e2e2e;
}

.section{
    max-width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content a {
    color: #000000;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content b {
    font-weight: bold;
}

