@font-face {
    font-family: "spotr";
    src: url("diatyper.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "spot";
    src: url("diatype.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* Base styles for all screen sizes */

:root {
    --red: #0e0e0e;
    --counter: #f3f3f3;
    --orange: #ff0059;
    --blue: #b7ff00;
    --mono: "spotr", monospace;
    --mono-head: "spot", monospace;
    --lspace: -0.5px;
    --lheight: 1;
    --fsize: 18px;
}

body {
    background-color: #f3f3f3;
    /*position: relative;*/
    /*overflow-x: hidden;*/
}

/* Desktop styles */
@media (min-width: 1300px) {
    body {
        /*background-image: url('mnpo.png');*/
        background-attachment: fixed;
        background-size: 130%;
        background-position: left 35% center;
        background-repeat: no-repeat;
    }
}

/* Mobile styles */
@media (max-width: 1299px) {
    body {
        /*background-image: url('mnn.png');*/
        background-size: cover;
        background-position: center;
    }
}

.content {
    text-align: left; /* justify */
    width: 30%;
    min-width: 380px;
    margin: auto;
    padding-top: 50px;
}

.bottoms {

    text-align: center;
}

h1 {
    /* background-color: var(--orange); */
    padding: 20px;
    font-family: var(--mono-head);
    margin: 0;
    line-height: var(--lheight);
    font-size: 40px;
    font-weight: 200;
    letter-spacing: -1.5px;
    color: var(--red);
    text-shadow:
            -0.2px -0.2px 0 var(--red),
            0.2px -0.2px 0 var(--red),
            -0.2px 0.2px 0 var(--red),
            0.2px 0.2px 0 var(--red);
}

h2 {
    font-family: var(--mono);
    margin: 0;
    line-height: var(--lheight);
    font-size: 40px;
    font-weight: 1000;
    letter-spacing: -1.5px;
    color: var(--red);
}

h3 {
    font-family: var(--mono);
    line-height: var(--lheight);
    color: var(--red);

    letter-spacing: var(--lspace);
    font-size: var(--fsize);
    font-weight: 400;
}

u{
    font-family: var(--mono);
    line-height: var(--lheight);
    color: var(--red);
    text-decoration-color: #FF0045;
    text-shadow:
            -0.2px -0.2px 0 var(--red),
            0.2px -0.2px 0 var(--red),
            -0.2px 0.2px 0 var(--red),
            0.2px 0.2px 0 var(--red);
    letter-spacing: var(--lspace);
    font-size: var(--fsize);
    font-weight: 400;

    text-decoration: none;
}
b {
    font-family: var(--mono);
    line-height: var(--lheight);
    color: var(--red);
    letter-spacing: var(--lspace);
    font-size: 14px;
    font-weight: 400;
}

a {
    background-color: rgb(255, 0, 174, 0);
    color: var(--red);
    /*padding: 0.5px 3px;*/
    /* border-radius: 4px;*/
    text-decoration: none;
    font-weight: 800;
    font-family: var(--mono);
    transition: all 0.05s ease;
    font-size: var(--fsize);
}

a:hover {
    background-color: rgba(255, 68, 0, 0);
    /*padding: 0.5px 3px;*/
    font-size: var(--fsize);
    color: var(--red);
    text-decoration: none;
    text-shadow:
            -0.2px -0.2px 0 var(--red),
            0.2px -0.2px 0 var(--red),
            -0.2px 0.2px 0 var(--red),
            0.2px 0.2px 0 var(--red);
    margin: 0 -0.2em;
    padding: 0.0em 0.2em;
    border-radius: 5px;
    background: transparent;
    background-image: linear-gradient(
            to right,
            rgb(255, 0, 89,0),
            rgb(255, 0, 89,0),
            rgb(255, 0, 89,0)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.email {
    font-family: var(--mono);
    line-height: var(--lheight);
    color: var(--red);
    letter-spacing: var(--lspace);
    font-size: var(--fsize);
    font-weight: 1000;
    margin-top: 100px;
    font-size: var(--fsize);
}

::selection {
    color: #111111;
    background: var(--orange);
}

.dot {
    height: 11px;
    width: 11px;
    background-color: rgba(17, 17, 17, 0);
    border-radius: 10%;
    display: inline-block;
}

.social-icons {
    gap: 10px;
    font-family: var(--mono);
    line-height: 1.2;
}

.links {
    line-height: 1.2;
    margin: 0px;
    text-align: left;
}

span {
    font-size: 20px;
    margin: auto;
}
