<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages.css">
    <title>{{ .Title }}</title>
    {{ partial "katex.html" . }}
</head>
<body>
    <div class="content">
    <div class="head">
        <h1>{{ .Title }}</h1>
        <p style="font-style: italic">{{ .Params.Description }}</p>
    </div>
    {{ .Content }}
    </div>
</body>
</html>
    <button class="back" onclick="history.back()">back</button>
</body>
</html>