<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#4b6144"> 
    <meta name="msapplication-TileImage" content="/ms-icon-150x150.png">
    <meta name="theme-color" content="#4b6144"> 
    <title>{{ .Title }}</title>
</head>
<body>
    <div id="page">
        <p>{{ .Content }}</p>
    </div>
    <button class="back" onclick="history.back()">back</button>
</body>
</html>