<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../about.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>    
    <div id="page">
        <p>{{ .Content }}</p>
        <p id="email">jbg39 [at] cam.ac.uk</p>
    </div>
    <button class="back" onclick="history.back()">back</button>
</body>
</html>