<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="DoyDn9m7F4EbNEU_GsR7qKNhB9rw3IYSWPpfef2tvw0" />
    <meta name="description" content="Joe Bacchus George researches Statistical Physics, Networks, Machine Learning and Bayesian Inference.">
    <meta name="keywords" content="Complex systems, Statistical Physics, Networks, Machine Learning, Bayesian Inference."> 
    <meta name="author" content="Joe Bacchus George"> 

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#4b6144"> 
    <meta name="msapplication-TileImage" content="/ms-icon-150x150.png">
    <meta name="theme-color" content="#4b6144"> 

    <title>Plectics</title>
    {{ partial "katex.html" . }}
</head>
<body>
    <div id="page">
        {{ partial "face.html" . }}
        <h1 id="name">
        <button onclick="location.href='about/index.html'" class="glow">
            <span class="text">Joe Bacchus George</span>
        </button>
        </h1>
        {{/*  <div id="clock"></div>  */}}
        <table id="main_table">
        {{ range where .Site.RegularPages "Section" "entries" }}
            {{ partial "row.html" . }}
        {{ end }}
        </table>
    </div>
<script src="time.js"></script>
<script src="intense.js"></script>
</body>
</html>