<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/png">

    <title>Joe Bacchus George</title>
    {{ partial "katex.html" . }}
</head>
<body>    
    <div id="page">
        {{ partial "face.html" . }}
        <h1 id="name">
        <button onclick="location.href='about/index.html'" class="glow">
            <span class="text">Joe Bacchus George</span>
        </button>
        </h1>
        {{/*  <div id="clock"></div>  */}}
        <table id="main_table">
        {{ range where .Site.RegularPages "Section" "entries" }}
            {{ partial "row.html" . }}
        {{ end }}
        </table>
    </div>
<script src="time.js"></script>
<script src="intense.js"></script>
</body>
</html>